<div class="row">
  <div class="span8">
    <div class="row">
      <% @instructions.each do |instruction| %>
        <div class="span2 ferret">
          <%= render partial: instruction.ferret_type.underscore, locals: {instruction: instruction} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span4 smallferret">
    &nbsp;
  </div>
</div>