<div class="row">
  <div class="span8 offset2">
    <div class="hero-unit">
      <a href="<%= login_path %>" >
      <h1><span class="center">Ferrety</span></h1>
      <p class="lead">Streamline your information</p>
    </a>
    </div>
  </div>
</div>