<h3>Privacy Policy</h3>

<p>Ferrety is a public information aggregator. Steps have been taken to guard
your account information, however, Ferrety is not run on a secure server and
as such your expectations of privacy should be minimal. We do collect name and
email information from your Facebook login. We do not turn any user data over
to any third party for any marketing or commercial purpose.</p>