<h3>Terms of Service</h3>

<p>Ferrety is an experimental application. It is therefore provided without 
warranty, and users should expect the service to be unreliable. Ferrety is 
likely to go down for extended periods of maintenance or be discontinued
altogether solely at the discretion of the operators.</p>